.container{ 
    display: flex;
    flex-direction: row;
}

.buttonBox{
    height: 30px;
    display: flex;
    flex-direction: row;
    position: relative;
    left: 800px;
}
.navbar-start{
    position: relative;
    left: 30px;
    top: 5px;
}
.login{
    background-color: rgb(127, 158, 245);
    color: white;
    height: 30px;
    border-color: white;
    border-radius: 5px;
}

.space{
    width: 10px;
}

.signup{
    
    background-color: turquoise;
    color: white;
    height: 30px;
    border-color: white;
    border-radius: 5px;
}